
/*-----------------------------------------------------------------*/
.validate{
	color : red;
}
.con_con_user_base {
	margin-top:30px;
	margin-left:180px;
    margin-button:10px;
	font-size:18px;
	font-style:宋体;
	font-weight:bold;
}
.con_box{
    min-height: 400px;
    height: auto;
    !important;
    margin-button: 50px;
}
.cy{
    clear: both;
    width: 100%;
    min-height: auto;
}
.cy li{
    width: 100%;
    height: 50px;
}
.cy li span{
    display: inline-block;
    width: 30%;
    height: 50px;
    text-indent: 180px;
    font-size: 16px;
    line-height: 80px;
}
.cy li span i{
    color: #ff0000;
}
.cy li input{
    width: 40%;
    height: 30px; 
    border-radius: 5px;
    margin-left: 30px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.eml{
    margin-top: 10px;
}
.con_con_user_info {
	margin-top:0px;
	margin-left:180px;
    margin-button:10px;
	font-size:18px;
	font-style:宋体;
	font-weight:bold;
}
.con_box2{
    height: auto;
    !important;
    margin-top: 0px;
}
.cy2{
    clear: both;
    width: 100%;
    min-height: auto;
}
.cy2 li{
    width: 100%;
    height: 50px;
}
.cy2 li span{
    display: inline-block;
    width: 30%;
    height: 50px;
    text-indent: 180px;
    font-size: 16px;
    line-height: 80px;
}
.cy2 li span i{
    color: #ff0000;
}
.cy2 li input{
    width: 40%;
    height: 30px; 
    border-radius: 5px;
    margin-left: 30px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.cy3{
    clear: both;
    width: 80%;
    min-height: auto;
}
.cy3 li{
    width: 100%;
    height: 50px;
}
.cy3 li span{
    display: inline-block;
    width: 30%;
    height: 50px;
    text-indent: 180px;
    font-size: 16px;
    line-height: 80px;
}
.cy3 li span i{
    color: #ff0000;
}
.cy3 li input{
    width: 40%;
    height: 30px; 
    border-radius: 5px;
    margin-left: 30px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.js p{
    font-size: 18px;
    width: 120px;
    text-align: center;
    font-weight: bold;
}
.description_title{
	margin-top:20px;
	margin-left:180px;
	font-size:16px;
}
.description{
    display: inline-block;
    width: 40%;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 420px;
    border: 1px solid #cccccc;
}