<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinlong.system.dao.menu.IMenuProcessVODao">
 	
 	<!-- *********************不操作事务，查询 操作************************** -->
 	
 	<!-- 通过菜单流程ID查询单条菜单流程信息 -->
 	<select id="select" parameterType="com.jinlong.system.model.vo.menu.MenuProcessVO" 
 		resultType="com.jinlong.system.model.vo.menu.MenuProcessVO">
 		SELECT
			p.process_id		AS processId,
			p.menu_id			AS menuId,
			r.menu_name        	AS menuName,
			p.process_time		AS processTime,
			p.examine_id		AS examineId,
			p.state				AS state,
			er.examine_user_id 	AS examineUserId,
			u.user_name        	AS examineUserName,
			CASE er.is_pass 
			WHEN 1 THEN '是'		
			WHEN 2 THEN '否'	END	AS passName,
			er.description		AS description,
		  	s.name 				AS stateName
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
		<where>
			<if test="id != null and id != 0">
				p.process_id = #{id}
			</if>
		</where>
 	</select>
 	
 	<!-- 查询所有的菜单流程信息 -->
 	<select id="selectAll" resultType="com.jinlong.system.model.vo.menu.MenuProcessVO">
 		SELECT
			p.process_id		AS processId,
			p.menu_id			AS menuId,
			r.menu_name        	AS menuName,
			p.process_time		AS processTime,
			p.examine_id		AS examineId,
			p.state				AS state,
			er.examine_user_id 	AS examineUserId,
			u.user_name        	AS examineUserName,
			CASE er.is_pass 
			WHEN 1 THEN '是'		
			WHEN 2 THEN '否'	END	AS passName,
			er.description		AS description,
		  	s.name 				AS stateName
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
 	</select>
 	
 	<!-- 通过条件查询一批菜单流程信息 -->
 	<select id="selectList" parameterType="com.jinlong.system.model.vo.menu.MenuProcessVO" 
 		resultType="com.jinlong.system.model.vo.menu.MenuProcessVO">
 		SELECT
			p.process_id		AS processId,
			p.menu_id			AS menuId,
			r.menu_name        	AS menuName,
			p.process_time		AS processTime,
			p.examine_id		AS examineId,
			p.state				AS state,
			er.examine_user_id 	AS examineUserId,
			u.user_name        	AS examineUserName,
			CASE er.is_pass 
			WHEN 1 THEN '是'		
			WHEN 2 THEN '否'	END	AS passName,
			er.description		AS description,
		  	s.name 				AS stateName
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
		<where>
			<if test="menuId != null and menuId != 0">
				p.menu_id = #{menuId}
			</if>
			<if test="examineId != null and examineId != 0">
				AND p.examine_id = #{examineId}
			</if>
			<if test="processTime != null and processTime != ''">
				AND p.process_time = #{processTime}
			</if>
			<if test="state != null and state != 0">
				AND p.state = #{state}
			</if>
			<if test="pass != null and pass != ''">
				AND r.is_pass = #{pass}
			</if>
			<if test="examineUserName != null and examineUserName != ''">
				AND u.user_name = #{examineUserName}
			</if>
		</where>
 	</select>
 	
 	<!-- 查询最新的一条菜单流程信息 -->
 	<select id="selectNew" resultType="com.jinlong.system.model.vo.menu.MenuProcessVO">
 		SELECT
			p.process_id		AS processId,
			p.menu_id			AS menuId,
			r.menu_name        	AS menuName,
			p.process_time		AS processTime,
			p.examine_id		AS examineId,
			p.state				AS state,
			er.examine_user_id 	AS examineUserId,
			u.user_name        	AS examineUserName,
			CASE er.is_pass 
			WHEN 1 THEN '是'		
			WHEN 2 THEN '否'	END	AS passName,
			er.description		AS description,
		  	s.name 				AS stateName
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
		ORDER BY p.process_time DESC
 		LIMIT 1
 	</select>
 	
 	<!-- 查询最新的count条菜单流程信息 -->
 	<select id="selectNewList" parameterType="int" resultType="com.jinlong.system.model.vo.menu.MenuProcessVO">
 		SELECT
			p.process_id		AS processId,
			p.menu_id			AS menuId,
			r.menu_name        	AS menuName,
			p.process_time		AS processTime,
			p.examine_id		AS examineId,
			p.state				AS state,
			er.examine_user_id 	AS examineUserId,
			u.user_name        	AS examineUserName,
			CASE er.is_pass 
			WHEN 1 THEN '是'		
			WHEN 2 THEN '否'	END	AS passName,
			er.description		AS description,
		  	s.name 				AS stateName
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
		ORDER BY p.process_time DESC
 		LIMIT #{count}
 	</select>
 	
 	<!-- ***************************分页操作***************************** -->
 	
	<!-- 查询全部菜单主信息的总数 -->
 	<select id="getCount" parameterType="java.util.Map" resultType="int">
 		SELECT
			COUNT(1)
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
		<where>
			<if test="menuId != null and menuId != 0">
				p.menu_id = #{menuId}
			</if>
			<if test="examineId != null and examineId != 0">
				AND p.examine_id = #{examineId}
			</if>
			<if test="processTime != null and processTime != ''">
				AND p.process_time = #{processTime}
			</if>
			<if test="state != null and state != 0">
				AND p.state = #{state}
			</if>
			<if test="pass != null and pass != ''">
				AND r.is_pass = #{pass}
			</if>
			<if test="examineUserName != null and examineUserName != ''">
				AND u.user_name = #{examineUserName}
			</if>
		</where>
 	</select>
 	
	<!-- 分页查询菜单流程信息-->
 	<select id="getSplitList" parameterType="java.util.Map" resultType="com.jinlong.system.model.vo.menu.MenuProcessVO">
 		SELECT
			p.process_id		AS processId,
			p.menu_id			AS menuId,
			r.menu_name        	AS menuName,
			p.process_time		AS processTime,
			p.examine_id		AS examineId,
			p.state				AS state,
			er.examine_user_id 	AS examineUserId,
			u.user_name         AS examineUserName,
			CASE er.is_pass 
			WHEN 1 THEN '是'		
			WHEN 2 THEN '否'	END	AS passName,
			er.description		AS description,
		  	s.name 				AS stateName
 		FROM
 			tbl_jinlong_system_menu_process p
 			INNER JOIN tbl_jinlong_system_menu r ON p.menu_id = r.menu_id
 			LEFT JOIN tbl_jinlong_system_menu_examine_record er ON p.examine_id = er.examine_id AND p.menu_id = er.menu_id
 			LEFT JOIN tbl_jinlong_system_user_base u ON er.examine_user_id = u.user_id
		    INNER JOIN dic_jinlong_system_menu_process_state s ON p.state = s.value
		<where>
			<if test="menuId != null and menuId != 0">
				p.menu_id = #{menuId}
			</if>
			<if test="examineId != null and examineId != 0">
				AND p.examine_id = #{examineId}
			</if>
			<if test="processTime != null and processTime != ''">
				AND p.process_time = #{processTime}
			</if>
			<if test="state != null and state != 0">
				AND p.state = #{state}
			</if>
			<if test="pass != null and pass != ''">
				AND r.is_pass = #{pass}
			</if>
			<if test="examineUserName != null and examineUserName != ''">
				AND u.user_name = #{examineUserName}
			</if>
		</where>
		ORDER BY p.process_time DESC
	    <if test="startRow != null and pageSize != null and pageSize != 0">
	    	LIMIT #{startRow} , #{pageSize}
	    </if>
 	</select>

</mapper>