<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinlong.system.dao.menu.IMenuProcessPODao">

	<!-- *********************操作事务：曾、删、改操作************************ -->
	
	<!-- 新增一条菜单流程信息 -->
	<insert id="insert" parameterType="com.jinlong.system.model.po.menu.MenuProcessPO" >
		INSERT INTO 
			tbl_jinlong_system_menu_process
		(
			process_id,
			menu_id,
			process_time,
			examine_id,
			state
		)
		VALUES
		(
			#{processId},
			#{menuId},
			#{processTime},
			#{examineId},
			#{state}
		)
	</insert>
	
	<!-- 通过菜单流程条件删除一批菜单流程信息 -->
	<delete id="delete" parameterType="com.jinlong.system.model.po.menu.MenuProcessPO">
		DELETE FROM
			tbl_jinlong_system_menu_process
		<where>
			<if test="menuId != null and menuId != 0">
				menuId = #{menuId}
			</if>
			<if test="processTime != null">
				AND process_time = #{processTime}
			</if>
			<if test="examineId != null and examineId != 0">
				AND examine_id = #{examineId}
			</if>
		</where>
	</delete>
	
	<!-- 通过菜单流程ID删除一条菜单流程信息 -->
	<delete id="deleteById" parameterType="com.jinlong.system.model.po.menu.MenuProcessPO">
		DELETE FROM
			tbl_jinlong_system_menu_process
		<where>
			<if test="id != null and id != 0">
				process_id = #{id}
			</if>
		</where>
	</delete>
	
	<!-- 通过菜单流程ID修改一条菜单流程信息 -->
	<update id="update" parameterType="com.jinlong.system.model.po.menu.MenuProcessPO">
		UPDATE
		<set>
			<if test="menuId != null and menuId != 0">
				menuId = #{menuId},
			</if>
			<if test="processTime != null">
				process_time = #{processTime},
			</if>
			<if test="examineId != null and examineId != 0">
				examine_id = #{examineId},
			</if>
			<if test="state != null and state != 0">
				state = #{state}
			</if>
		</set>
		<where>
			<if test="processId != null and processId != 0">
				process_id = #{processId}
			</if>
		</where>
	</update>
 	
 	<!-- *********************不操作事务，查询 操作************************** -->
 	
 	<!-- 通过菜单流程ID查询单条菜单流程信息 -->
 	<select id="select" parameterType="com.jinlong.system.model.po.menu.MenuProcessPO" 
 		resultType="com.jinlong.system.model.po.menu.MenuProcessPO">
 		SELECT
			process_id 		AS processId,
			menu_id			AS menuId,
			process_time	AS processTime,
			examine_id		AS examineId,
			state			AS state
 		FROM
 			tbl_jinlong_system_menu_process
		<where>
			<if test="id != null and id != 0">
				process_id = #{id}
			</if>
		</where>
 	</select>
 	
 	<!-- 查询所有的菜单流程信息 -->
 	<select id="selectAll" resultType="com.jinlong.system.model.po.menu.MenuProcessPO">
 		SELECT
			process_id 		AS processId,
			menu_id			AS menuId,
			process_time	AS processTime,
			examine_id		AS examineId,
			state			AS state
 		FROM
 			tbl_jinlong_system_menu_process
 	</select>
 	
 	<!-- 通过条件查询一批菜单流程信息 -->
 	<select id="selectList" parameterType="com.jinlong.system.model.po.menu.MenuProcessPO" 
 		resultType="com.jinlong.system.model.po.menu.MenuProcessPO">
 		SELECT
			process_id 		AS processId,
			menu_id			AS menuId,
			process_time	AS processTime,
			examine_id		AS examineId,
			state			AS state
 		FROM
 			tbl_jinlong_system_menu_process
		<where>
			<if test="menuId != null and menuId != 0">
				menuId = #{menuId}
			</if>
			<if test="processTime != null">
				AND process_time = #{processTime}
			</if>
			<if test="examineId != null and examineId != 0">
				AND examine_id = #{examineId}
			</if>
			<if test="state != null and state != 0">
				AND state = #{state}
			</if>
		</where>
 	</select>
 	
 	<!-- 查询最新的一条菜单流程信息 -->
 	<select id="selectNew" resultType="com.jinlong.system.model.po.menu.MenuProcessPO">
 		SELECT
			process_id 		AS processId,
			menu_id			AS menuId,
			process_time	AS processTime,
			examine_id		AS examineId,
			state			AS state
 		FROM
 			tbl_jinlong_system_menu_process
 		LIMIT 1
 	</select>
 	
 	<!-- 查询最新的count条菜单流程信息 -->
 	<select id="selectNewList" parameterType="int" resultType="com.jinlong.system.model.po.menu.MenuProcessPO">
 		SELECT
			process_id 		AS processId,
			menu_id			AS menuId,
			process_time	AS processTime,
			examine_id		AS examineId,
			state			AS state
 		FROM
 			tbl_jinlong_system_menu_process
 		LIMIT #{count}
 	</select>
 	
 	<!-- ***************************分页操作***************************** -->
 	
	<!-- 查询全部菜单主信息的总数 -->
 	<select id="getCount" parameterType="Map" resultType="int">
 		SELECT
			COUNT(1)
 		FROM
 			tbl_jinlong_system_menu_process
		<where>
			<if test="menuId != null and menuId != 0">
				menuId = #{menuId}
			</if>
			<if test="processTime != null">
				AND process_time = #{processTime}
			</if>
			<if test="examineId != null and examineId != 0">
				AND examine_id = #{examineId}
			</if>
			<if test="state != null and state != 0">
				AND state = #{state}
			</if>
		</where>
 	</select>
 	
	<!-- 分页查询菜单流程信息-->
 	<select id="getSplitList" parameterType="Map" resultType="com.jinlong.system.model.po.menu.MenuProcessPO">
 		SELECT
			process_id 		AS processId,
			menu_id			AS menuId,
			process_time	AS processTime,
			examine_id		AS examineId,
			state			AS state
 		FROM
 			tbl_jinlong_system_menu_process
		<where>
			<if test="menuId != null and menuId != 0">
				menuId = #{menuId}
			</if>
			<if test="processTime != null">
				AND process_time = #{processTime}
			</if>
			<if test="examineId != null and examineId != 0">
				AND examine_id = #{examineId}
			</if>
			<if test="state != null and state != 0">
				AND state = #{state}
			</if>
		</where>
	    <if test="startRow != null and pageSize != null and pageSize != 0">
	    	LIMIT #{startRow} , #{pageSize}
	    </if>
 	</select>

</mapper>